# Database
DATABASE_HOST=localhost
DATABASE_USER=root
DATABASE_NAME=support_portal
DATABASE_URL=mysql://root@localhost/support_portal

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_DEFAULT_TENANT_ID=default

# Pusher (https://dashboard.pusher.com)
NEXT_PUBLIC_PUSHER_KEY=cc89305b97ef896f2744
NEXT_PUBLIC_PUSHER_CLUSTER=ap2
PUSHER_APP_ID=2170540
PUSHER_SECRET=06dd20eca6a0b2774f00

# SMTP (Zoho)
SMTP_HOST=smtp.zoho.com
SMTP_PORT=465
SMTP_USER=no-reply@coder71.com
SMTP_PASS=Gi5nty&c
SMTP_FROM_ADDRESS=no-reply@coder71.com
SMTP_FROM_NAME=Coder71 Support
